<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBView.Properties.Settings.DB_A72B1E_SecureConnectionString"
            connectionString="Data Source=SQL5103.site4now.net;Initial Catalog=DB_A72B1E_Secure;Persist Security Info=True;User ID=DB_A72B1E_Secure_admin;Password=Alexz73canY"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>